.map-container {
  	padding-bottom: 10px;
}
.map-variation-component:first-child .btn-remove-map-location {
  	display: none;
}
.map-location {
  	width: 100%;
  	height: 300px;
  	background: grey;
  	z-index: 99999;
  	cursor: pointer;
  	-webkit-zoom-in
	-webkit-zoom-out
	-webkit-zoom-grab
	-webkit-zoom-grabbing
}
.map-location.targetting {
	cursor: url(cursor/my-cursor.png) 18 18, pointer !important;
}
.info-container {
  	min-width: 500px !important;
  	max-width: 700px !important;
}
